li.attachment
  = link_to attachment.blob.filename, rails_blob_path(attachment)
  - if (delete_link ||= false)
    =< link_to '[×]', attachment, class: 'delete_attachment', method: :delete, remote: true, data: { blob_id: attachment.blob.id, confirm: 'Are you sure?' }
